<footer class="blog-footer grad-color">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p class="float-left">
      <%= copyright_generator %>
    </p>
  </div>
  
</footer>
