<h1>Would you like to work together?</h1>
<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>
    <p>Marathalli, Bangalore 560037</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "8792117024" %></p>
    <h3>Email</h3>
    <p><a href="mailto:rnpatel9789@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>
  
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d972.0011802215356!2d77.69816742915062!3d12.
    97154949942852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13d5384b495d%3A0x3e9fc7840ed3d0a5!2s1st
    +Main+Road%2C+Nisarga+Layout%2C+Doddanekundi%2C+Doddanekkundi%2C+Bengaluru%2C+Karnataka+560037!5e0!3m2!1sen!2s
    in!4v1535706835247" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>