/*
Error: Invalid CSS after ".": expected "{", was ""
        on line 182 of /home/ec2-user/environment/devcamp-tutorials/DevcampPortfolio/app/assets/stylesheets/blogs.scss

177: .blog-nav {
178:   margin-bottom: 30px;
179: }
180: 
181: .

Backtrace:
/home/ec2-user/environment/devcamp-tutorials/DevcampPortfolio/app/assets/stylesheets/blogs.scss:182
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:1278:in `expected'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:1208:in `expected'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:1203:in `tok!'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:677:in `block'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:670:in `ruleset'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:696:in `block_child'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:689:in `block_contents'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:414:in `_to_tree'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.4.1/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.4.1/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \".\": expected \"{\", was \"\"\A         on line 182 of /home/ec2-user/environment/devcamp-tutorials/DevcampPortfolio/app/assets/stylesheets/blogs.scss\A \A 177: .blog-nav {\A 178:   margin-bottom: 30px;\A 179: }\A 180: \A 181: ."; }
